/* SAIT FONTS */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  display: swap;
  src: url("../fonts/livvic-v11-latin-regular.woff2") format("woff2"),
       url("../fonts/livvic-v11-latin-regular.woff") format("woff"); 
}

@font-face {
  font-family:"Livvic";
  font-style: normal;
  font-weight: 600;
  display: swap;
  src: url("../fonts/livvic-v11-latin-600.woff2") format("woff2"),
       url("../fonts/livvic-v11-latin-600.woff") format("woff"); 
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  display: swap;
  src: url("../fonts/livvic-v11-latin-700.woff2") format("woff2"),
       url("../fonts/livvic-v11-latin-700.woff") format("woff"); 
}
/* SAIT FONTS */

* {
  box-sizing: border-box;
}
body {
  font-family:"Livvic";
}

header {
  padding-top: 50px;
  background-color: rgb(1, 78, 86);
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pdng-div  {
  width: 381px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  width: 1140px;
  padding: 0, 20px;
  margin-left: auto;
  margin-right: auto;
  
}
.container-hero {
  width: 1140px;
  padding: 0, 20px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../img/disk2.svg');
  background-size: 358px 200px;
  background-repeat: no-repeat;
  background-position-y: calc(50% + 340px);
  background-position-x: calc(50% + 370px);
}

.logo-img {
width: 159.95px;
height: 40px;
}

.header-list {
  margin: 0;
  padding: 0;
  width: 141px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}


.header-item {
  cursor: pointer;
transition: 0.3s ease;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;
}

.header-item:hover {
  color: #F67E7E;
}

.header-link {
  transition: 0.3s ease;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  text-decoration: none;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  font-size: 18px;
  line-height: 28px;
  color: rgb(255, 255, 255);
}
.header-link:hover {
  font-size: 18px;
  line-height: 28px;
  background-color: rgb(255, 255, 255);
  color:  rgb(1, 45, 50);


}
  .header-nav {
    cursor: pointer;
text-decoration: none;
transition: 0.3s ease;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;
}
.header-nav:hover {
  color: #F67E7E;
}

/* SITE-HERO */

.site-hero-sectoin {
  background-color: rgb(1, 78, 86);
  background-image: url('../img/disk1.png');
  background-repeat: no-repeat;
  background-position-x: calc(50% - 760px);
  background-position-y: calc(50% - 100px);
  background-size: 200px 200px;
}

.site-hero {
  padding-top: 70px;
  padding-bottom: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-heading {
width: 635px;
height: 200px;
padding-right: 20px;
font-style: normal;
font-weight: bold;
font-size: 100px;
line-height: 100px;
color: #FFFFFF;
}
.hero-span {
  color: rgb(202, 91, 91);
}
.hero-text {
  margin-bottom: -50px;
  width: 445px;
  height: 112px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  position: relative;
  color: #FFFFFF;
}
.site-hero__hero-text::before {
  content: '';
  width: 50px;
  height: 4px;
  position: absolute;
  top: -70px;
  background-color: #79C8C7;
}

/* BUILD SECTION*/

.section-build {
  background-color: #012F34;
  padding-bottom: 130px;
  background-image: url('../img/disk33.png');
  background-repeat: no-repeat;
  background-size: 100px 244px ;
  background-position-x: calc(50% + 720px);
  background-position-y: calc(50% + 250px);
}
.build-list {
  padding-top: 198px;
  list-style-type: none;
  
}

.build-text {
  position: relative;
  top: -30px;
margin: 0;
width: 445px;
height: 144px;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 48px;
color: #FFFFFF;
}

.build-text::before {
  content: '';
  width: 50px;
  height: 4px;
  position: absolute;
  top: -70px;
  background-color: #F67E7E;
}

.busines {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.span {
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
color: #F67E7E;
}
.build-text5{
  width: 445px;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 25px;
color: #bbaaaa;
}

.build-item {
  display: flex;
}
.build-item ~ .build-item {
  margin-top: 30px;
}

.build-img {
  width: 72px;
  height: 72px;
  margin-right: 15px;
}


/* .DELIVER-SECTION */


.deliver-section {
  /* padding-top: 140px; */
  background-color: #004047;
  background-image: url('../img/disk5.png');
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position-x: calc(50% + 630px);
  background-position-y: calc(50% + 190px);
}
.container-deliver {
  width: 1140px;
  padding-bottom: 151px;
  padding-top: 140px;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
  background-image: url('../img/disk4.png');
  background-repeat: no-repeat;
  background-size: 147px 100px ;
  background-position-x: calc(50% - 500px);
  background-position-y: calc(50% - 270px);
}

.stories {
padding-bottom: 52px;
margin: 0;
width: 932px;
font-size: 48px;
line-height: 48px;
text-align: center;
color: #FFFFFF;
margin-left: auto;
margin-right: auto;
}
.success {
  color: rgb(14, 148, 172);
}

.dell-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.dell-item {
padding-left: 15px;
padding-right: 15px;
}
.dell-text {
margin: 0;
padding-top: 40px;
height: 100px;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 25px;
text-align: center;
color: #FFFFFF;
background-image: url('../img/tochk.svg');
background-repeat: no-repeat;
background-size: 67px 56px;
background-position-x:calc(50%) ;
background-position-y:calc(50% - 18px) ;
}
.dell-spn1 {
  margin-top: 54px;
display: block;
height: 28px;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
text-align: center;
color: #79C8C7;
}
.dell-spn2 {
display: block;
height: 18px;
font-size: 13px;
line-height: 18px;
text-align: center;
color: #FFFFFF;
}
.dell-img{
margin-top: 32px;
display: block;
width: 62px;
height: 62px;
margin-left: auto;
margin-right: auto;
}

    /* READY-SECTION */

    .ready-section {
      padding-top: 76px;
      padding-bottom: 76px;
      background-color: rgb(246, 126, 126);
      background-image: url('../img/readydisk.svg');
      background-repeat: no-repeat;
      background-size: 200px 244px;
      background-position-x: calc(50% - 660px);
      background-position-y: calc(50% + 80px);
    }

    .ready {
      margin-left: auto;
      margin-right: auto;
      width: 917px;
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .ready-heading {
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
      color: #012F34;
    }

    .ready-link {
  transition: 0.3s ease;    
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  text-decoration: none;
  border-radius: 24px;
  font-size: 18px;
  line-height: 28px;
  color: rgb(1, 47, 52);
  border: 2px solid rgb(1, 45, 50);
  font-style: normal;
  font-weight: 600;
}
.ready-link:hover {
  background-color: #012F34;
  color: #FFFFFF;
}

        /* FOOTER */
        footer {
          padding-top: 48px;
          padding-bottom: 48px;
          background-color: rgb(0, 37, 41);
        }


        .footer-section {
          display: flex;
          justify-content: space-between;
        }


        .one-section {
          width: 450px;
          display: flex;
          justify-content: space-between;
        }
        .end-span {
          display: block;
          font-style: normal;
          font-weight: 600;
          padding-top: 45px;
          font-size: 15px;
          line-height: 25px;
          text-align: right;
          color: #bbaaaa;
        }

        .team-list{
          margin: 0;
          list-style-type: none;
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 25px;
          color: #bbaaaa;
        }

        .footer-logo {
          width: 160px;
          height: 40px;
          display: block;
        }
      

        .team-link {
          transition: 0.3s ease;
          position: relative;
          top: 25px;
          text-decoration: none;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 28px;
          color: #FFFFFF;
        }
        .team-link:hover {
          color: #F67E7E;
        }
        .team-link ~ .team-link {
          margin-left: 40px;
        }

        .link-img {
          width: 24px;
          height: 24px;
        }
        .img-link ~ .img-link {
          margin-left: 16px;
        }





          /* ABOUT PAGE */

          .about-hero-section {
            padding-top: 50px;
            background-color: #014E56;
            background-image: url('../img/p2disk1.png');
            background-repeat: no-repeat;
            background-size:200px 200px ;
            background-position-x: calc(50% + 760px);
            background-position-y: calc(50% + 75px);
          }

          .about-hero {
            display: flex;
            justify-content: space-between;
          }
          .about-heading {        
            width: 350px;
            height: 100px;
            font-style: normal;
            font-weight: bold;
            font-size: 64px;
            line-height: 100px;
            color: #FFFFFF;
          }

          .about-text {
            margin-top: 100px;
            padding-bottom: 70px;
            position: relative;
            width: 730px;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: #FFFFFF;
          }
          .about-hero__about-text::before {
            content: '';
            width: 50px;
            height: 4px;
            position: absolute;
            top: -40px;
            background-color: #F67E7E;
          }


          /* ABOUT HOVER SECTION */


          .hover-section {
            /* padding-bottom: 100px; */
            background-color: #004047;
            background-image: url('../img/p2disk2.png');
            background-repeat: no-repeat;
            background-size: 200px 200px;
            background-position-x: calc(50% - 765px);
            background-position-y: calc(50% - 368px);
          }
          .cotainer-about{
            width: 1440px;
            padding: 0, 20px;
            padding-bottom: 100px;
            margin-left: auto;
            margin-right: auto;
            background-image: url('../img/p2disk3.png');
            background-repeat: no-repeat;
            background-size:147px 100px;
            background-position-x: calc(50% + 650px);
            background-position-y: calc(50% + 420px);
            
          }
          
          .about-list {
            width: 1110px;
            display: flex;
            padding: 0;
            flex-wrap: wrap;
            list-style-type: none;
            justify-content: space-between;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
          }
          
          .about-item {
            width: 350px;
            height: 253px;
            margin-top: 50px;
          }
          
          .about-item:hover .center-hover {
            transform: translateY(-210px);
          }
          
          .about-item:hover .list-bol-div {
            transform: rotate(45deg);
            transition: all 0.4s ease;
            background-color: #79C8C7;
          }
          
          .center-heading {
            font-weight: bold;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            color: #79C8C7;
            margin: 0;
            padding: 0;
            padding-top: 60px;
          }
          
          .center {
            text-align: center;
            height: 253px;
            overflow: hidden;
            background-color: #012F34;
            transition: all 0.3s ease; }
          
          .center-hover {
            transform: translateY(188px);
            width: 350px;
            height: 255px;
            margin: 0;
            padding: 0;
            background-color: #002529;
            transition: all 0.8s ease;
          }
          
          .center-hover:hover{
          margin: 0;
          padding: 0;
          transform: translateY(-180px);
          background-color: #002529;
          }
          
          .big-heading {
            margin: 0;
            text-align: center;
            padding-top: 150px;
            margin-bottom: -1px;
            color: #FFFFFF;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 48px;
          
          }
          
          .heading {
          margin: 0;
          height: 28px;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 28px;
          text-align: center;
          color: #79C8C7;
          }
          
          .mini-images {
          width: 96px;
          height: 96px;
          transform: translateY(32px);
          margin-bottom: 52px;
          }
          
          .about-hero-text {
            margin: 0;
            font-family: livvic italic;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            color: #FFFFFF;
          }
          
          
          .list-bol-div {
            position: relative;
            transition: all 0.4s ease;
            width: 56px;
            height: 56px;
            margin-left: auto;
            margin-right: auto;
            background: #F67E7E;
            border-radius: 30px;
            top: -27px;
          }
          
          .transform-span {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 4px;
            font-size: 33px;
            font-weight: bold;
            color: #012F34;
          }
          
          .list-bol-div:hover {
            transform: rotate(45deg);
            
            background-color: #79C8C7;
          }
          
          
          .text-hover{
            width: 254px;
            font-weight: 600;
            font-size: 15px;
            line-height: 25px;
            color: #FFFFFF;
            margin-left: auto;
            margin-right: auto;
          }
          
          .center-img {
            margin-left: 10px;
          }



          /* CLIENTS-SECTION */
          .clients-section {
            padding-bottom: 150px;
            background-color: #012F34;
            background-image: url('../img/p2end.svg');
            background-size: 200px 200px;
            background-repeat: no-repeat;
            background-position-x: calc(50% - 600px);
            background-position-y: calc(50% - 80px);
          }

          .clients-heading {
            margin: 0;
            padding: 0;
            padding-top: 140px;
            padding-bottom: 70px;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 48px;
            text-align: center;
            color: #FFFFFF;
          }

          .clients-list {
            width: 1110px;
            margin: 0;
            padding: 0;
            align-items: center;
            display: flex;
            justify-content: space-between;
            list-style-type: none;
          }


/* FORM-SECTION */
.form-section {
  background-color: rgb(1, 78, 86);
  background-image: url('../img/formdisk1.png');
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position-x: calc(50% - 760px);
  background-position-y: calc(50% - 100px);
}
.form-box {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url('../img/formdisk2.png');
  background-size: 200px 200px;
  background-repeat: no-repeat;
}
            

.href {
  margin: 0;
  padding: 0;
  width: 350px;
  height: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
  color: #FFFFFF;
}
.ask {
width: 540px;
height: 48px;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 48px;
color: #F67E7E;
}

.contact-list {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  list-style-type: none;
}

.contact-item1 {
padding-top: 30px;
padding-left: 90px;
padding-bottom: 25px;
font-style: 300;
font-weight: bold;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;

background-image: url('../img/form1.png');
background-repeat: no-repeat;
background-size:72px 72px ;
background-position-x: calc(10% - 40px);
}
.contact-item2 {
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 90px;
  font-style: 300;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;

  background-image: url('../img/form2.png');
background-repeat: no-repeat;
background-size:72px 72px ;
background-position-x: calc(10% - 40px);
  }
  .contact-item3 {
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 90px;
    font-style: 300;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;

    background-image: url('../img/form3.png');
    background-repeat: no-repeat;
    background-size:72px 72px ;
    background-position-x: calc(10% - 40px);
    }


    .frm-init {
      padding-left: 15px;
      display: block;
      border: none;
      border-bottom: 1px solid rgb(240, 217, 217);
      background-color: rgb(1, 78, 86);
      width: 540px;
      height: 60px;
      outline: none;
      cursor: pointer;
    }
    
    .frm-init2 {
      outline: none;
      padding-left: 15px;
      display: block;
      border: none;
      border-bottom: 1px solid rgb(240, 217, 217);
      background-color: rgb(1, 78, 86);
      width: 540px;
      height: 100px;
      cursor: pointer;
    }
    .frm-init2:hover {
      border-bottom: 1px solid rgb(131, 47, 47);
    }
    .frm-init:hover {
      border-bottom: 1px solid rgb(131, 47, 47);
    }


    .form-btn {
margin-top: 30px;
height: 28px;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
width: 123px;
height: 48px;
color: #004047;
border-radius: 45px;
border: none;
cursor: pointer;
}